[Unit]
Description=Dentrite Matrix homeserver
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment="PATH=__ENV_PATH__"
ExecStart=__FINALPATH__/./bin/dendrite-monolith-server --tls-cert=server.crt --tls-key=server.key --config=dentrite.yaml --http-bind-address=:__PORT__ --https-bind-address=:__TLS_PORT__ >> /var/log/__APP__/__APP__.log 2>&1

[Install]
WantedBy=multi-user.target
